@model EWallet.BusinessLogic.Implementation.Users.RegistrationViewModel

@{
    ViewData["Title"] = "Register Form";
}

<h4>Start managing your finances with us</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label registerLabel"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label registerLabel">Enter your password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmedPassword" class="control-label registerLabel">Confirm your password</label>
                <input asp-for="ConfirmedPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label registerLabel">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label registerLabel">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label registerLabel">Enter your Birth Date</label>
                <input asp-for="BirthDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="1923-01-01" max="2006-01-01" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div id="registerButtons">
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Login" asp-controller="User" class="btn btn-primary">Back to Login Page</a>
            </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
