@using Newtonsoft.Json;
@model EWallet.BusinessLogic.Implementation.Home.ViewModel.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div id="chartsContainer">
<div id="wrapper-pieChart">
    <canvas style="display:none" id="spendingPieChart"></canvas>
</div>



<div id="wrapper-barChart">
            <canvas style="display:none"  id="barChart" style="max-width:600px"></canvas>
</div>
    </div>

    <div id="notificationsContainer">

    </div>

    <div id="stocksAndAdvice">
    <div id="stockContainer">
        <h3 id="stocksTitle">Be up to date with the hottest stocks </h3>
        <table class="table col-md-6" id="stockDataSection">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Change</th>
                    <th scope="col">Volume</th>
                </tr>
        </table>
        
    </div>
    </div>

  
</div>


  
<div id="friendsContainer">
    <div id="searchBar">
        <input id="addFriendInput" type="text" placeholder="Search for a friend...">
        <button onclick="addFriend()" class="btn btn-primary">Add friend</button>

        <div id="usernameError">

        </div>

    </div>

    <div id="friends">
    
        <div id="friendsList">

        </div>

    </div>

</div>



@section Scripts {
    @{
        <script src="~/js/stockData.js" defer asp-append-version="true"></script>
        <script src="~/js/almostCompletedPiggyBanks.js" defer asp-append-version="true"></script>
        <script src="~/js/getUserFriends.js" defer asp-append-version="true"></script>
        <script src="~/js/addFriend.js" defer asp-append-version="true"></script>
        <script src="~/js/pieChart.js" defer asp-append-version="true"></script>
        <script src="~/js/barChart.js" defer asp-append-version="true"></script>
        <script src="~/js/upcomingBirthdays.js" defer asp-append-version="true"></script>


        <script> 

         window.onload = function () {
                pieChart();
                barChart();
            };

            function pieChart(){
              drawPieChart(@Html.Raw(JsonConvert.SerializeObject(Model.SpendingCategoriesCount)));    
            }


             function barChart() {
                drawBarChart(@Html.Raw(JsonConvert.SerializeObject(Model)));
            }
        </script>

    }
}
